{% extends 'base.html.twig' %}

{% block title %}List Leaves {{ user.username }}!{% endblock %}

{% block body %}

    <div class="example-wrapper container">
        <h1>List des Leaves {{ user.username }}! ✅</h1>

        <table id="table_leaves" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for leave in leaves %}
                <tr>
                    <td>{{ leave.id }}</td>
                    <td>
                        {{ leave.commentMessage|length > 25 ? leave.commentMessage|slice(0, 25) ~ '...' : leave.commentMessage  }}
                    </td>
                    <td>{{ leave.currentStatus }}</td>
                    <td>{{ leave.startAt|date("d/m/Y") }}</td>
                    <td>{{ leave.endAt|date("d/m/Y") }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div>
                                <a href="{{ path('app_leave_approval', {leave: leave.id, action: 'approved'}) }}" class="btn btn-success" ><i class="fa-solid fa-check"></i> Approuver</a>
                                <a href="{{ path('app_leave_approval', {leave: leave.id, action: 'unapproved'}) }}"  class="btn btn-danger" ><i class="fa-solid fa-times"></i> Désapprouver</a>
                            </div>
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
